body{
    background-image: url(https://th.bing.com/th/id/R.864875e05fdcdcdfe728bd18e8915703?rik=39vhUfgdCuTiMQ&pid=ImgRaw&r=0);
  background-size: 100%;
  color: white;
  text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
  background-attachment: fixed;
  }

  .alinhar{
   
    text-align: center;
  }

  H1{
    text-align: center;
font-family: 'Italianno', cursive;
    font-size: 70px;
    margin-bottom: 15px;
  }

  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #291c0b;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0);
}


.sidebar button {
    display: block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #ac6727;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 5000px;
    right: 30px;
}

.sidebar button:hover {
    background-color: #794414;
}

#butao{
  background-color:  #ac6727;
  color: white;
  width: 15%;
  height: 23px;
}

#butao:hover{
  background-color: #794414;
}

.aroma{
  margin-left: 25%;
}

h3{
  text-align: left;
  margin-top: 13%;
  margin-left: 15px;
}